body {
    background: url(./image/body\ backround.png);
}
header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid rgb(204, 204, 204);
}

.container2 {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    background: rgba(3, 113, 156, 0.836);
    color: #fff;
    width: 250px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
nav ul {
    display: flex;
    column-gap: 35px;
   
}
nav ul li a {
    text-decoration: none;
    color: rgb(146, 145, 145) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}

.hamburger { 
    display: none;
} 

.contact_wrapper .contact {
    background-color: #fff;
    border: 1px solid rgb(155, 149, 149);
    margin-top: 150px;
    padding: 20px;
    margin-bottom: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 3%;
}
.contact_wrapper .contact_title h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(3, 113, 156, 0.836);
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(4, 40, 70);
    padding-bottom: 15px;
}
.contact_wrapper .contact_form {
    display: flex;
    flex-direction: column;
}
.contact_wrapper .contact_form label { 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact_wrapper .contact_form input {
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid rgb(208, 205, 205);
}
.contact_wrapper .contact_form textarea {
    border: 1px solid rgb(208, 205, 205);
}
.contact_wrapper .contact_form button {
    width: 116px;
    height: 42px;
    background-color: rgba(3, 113, 156, 0.836) ;
    font-size: 18px;
    color:white ;
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}
.social_account {
    margin-top: 47%;
    /* width: 25%;
    height: 140px; */
    /* display: flex;
    row-gap: 20px; */
    /* flex-direction: column; */
    background-color: #fff;
    border: 1px solid rgb(155, 149, 149) ;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.social_account .social_header h2 {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(155, 149, 149);
    padding-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgba(3, 113, 156, 0.836);
    font-weight: 700;
    text-align: center;
}
.social_account img {
    width: 50px;
    height: auto; 
}
footer {
    background: rgba(3, 113, 156, 0.836);
    border-top: 3px solid rgb(97, 180, 248);
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content:center ;
    
}
footer p {
    color: #fff;
    padding-top: 15px;
    font-size: 14px
}

.mobile_menu {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fff,rgb(97, 180, 248));
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}
.mobile_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    row-gap: 35px;
}
#open:target {
    display: block;
}
.mobile_menu ul a {
    color: rgba(3, 113, 156, 0.836);;
    font-size: 30px;
    font-weight: 700;
}
.mobile_menu ul a:hover {
    text-decoration: underline;
    }
.mobile_menu .mobile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(204, 204, 204);
}
.mobile_menu .mobile_header h1 {
    background: rgba(3, 113, 156, 0.836);
    color: #fff;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.mobile_menu .mobile_header a i {
font-size: 30px;
color: rgba(3, 113, 156, 0.836);

}
.mobile_menu .mobile_header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(3, 113, 156, 0.836);
    text-decoration: none;
    margin-right: 15px;
    border-radius: 10px;
}


@media screen and (max-width: 768px) {
    .container {
    width: 100%;
    }
    nav {
        display: none;
    }
    .hamburger {
        display: block;
        margin-right: 15px
    }
    .hamburger i {
        font-size: 30px;
        color: rgba(3, 113, 156, 0.836)
    }
    .logo {
        width: 200px;
        height: 70px;
    }
    .logo h1 {
        font-size: 20px;
    }
    .social_account {
        margin-bottom: 5%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .social_account {
        margin-top: 70%;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1401px) {
    .social_account {
        margin-top: 57%;
    }
}